{% extends "admin/default.html.twig" %}

{% block content %}

    <h1>Čas na úkolu</h1>

    <p>
        <button class="btn btn-success" onclick="document.getElementById('form-add').style.display='block';this.style.display='none'">Přidat</button>
    </p>

    <div id="form-add" style="display: none">
        <form action="{{ _router.generateUrl("admin_taskTimetrack") }}" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="form_edit_task_id">Úkol</label>
                <select name="task_id" class="form-control" id="form_edit_task_id">
                    <option value="0">--- Vyberte ---</option>
                    {% for task_id in task_ids %}
                        <option value="{{ task_id.id }}">
                        {% if task_id.title %}
                            {{ task_id.title }}
                        {% elseif task_id.name %}
                            {{ task_id.name }}
                        {% else %}
                            #{{ task_id.id }}
                        {% endif %}
                    </option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="form_edit_datetime_start">Čas od</label>
                <input value="{{ taskTimetrack.DatetimeStart.format("Y-m-d H:i") }}" type="datetime-local" name="datetime_start" class="form-control" id="form_edit_datetime_start"
                >
            </div>
            <div class="form-group">
                <label for="form_edit_datetime_stop">Čas do</label>
                <input value="{{ taskTimetrack.DatetimeStop.format("Y-m-d H:i") }}" type="datetime-local" name="datetime_stop" class="form-control" id="form_edit_datetime_stop"
                >
            </div>
            <button type="submit" class="btn btn-default">Přidat</button>
        </form>
        <br/>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            {% for taskTimetrack in taskTimetracks %}
                <tr>
                    <td width="130">
                        <a class="btn btn-xs btn-success" href="{{ _router.generateUrl("admin_taskTimetrack_edit", {"id":taskTimetrack.id}) }}">upravit</a>
                        <a class="btn btn-xs btn-danger" href="{{ _router.generateUrl("admin_taskTimetrack_delete", {"id":taskTimetrack.id}) }}"
                           onclick="return confirm('Opravdu?')">smazat</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}