{% extends "admin/default.html.twig" %}

{% block content %}

    <h1>Úkol - úprava</h1>

    <form action="{{ _router.generateUrl("admin_task_edit", {"id":task.id}) }}" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="form_edit_name">Název</label>
                <input value="{{ task.Name }}" type="text" name="name" class="form-control" id="form_edit_name"
                >
            </div>
            <div class="form-group">
                <label for="form_edit_hour_budget">Hodinový rozpočet</label>
                <input step="1" value="{{ task.HourBudget }}" type="number" name="hour_budget" class="form-control" id="form_edit_hour_budget"
                >
            </div>
            <div class="form-group">
                <label for="form_edit_project_id">Projekt</label>
                <select name="project_id" class="form-control" id="form_edit_project_id">
                    <option value="0">--- Vyberte ---</option>
                    {% for project_id in project_ids %}
                        <option value="{{ project_id.id }}"
                                {% if project_id.id == task.ProjectId %}
                                selected
                                {% endif %}
                        >
                        {% if project_id.title %}
                            {{ project_id.title }}
                        {% elseif project_id.name %}
                            {{ project_id.name }}
                        {% else %}
                            #{{ project_id.id }}
                        {% endif %}
                    </option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="form_edit_task_status_id">Stav úkolu</label>
                <select name="task_status_id" class="form-control" id="form_edit_task_status_id">
                    <option value="0">--- Vyberte ---</option>
                    {% for task_status_id in task_status_ids %}
                        <option value="{{ task_status_id.id }}"
                                {% if task_status_id.id == task.TaskStatusId %}
                                selected
                                {% endif %}
                        >
                        {% if task_status_id.title %}
                            {{ task_status_id.title }}
                        {% elseif task_status_id.name %}
                            {{ task_status_id.name }}
                        {% else %}
                            #{{ task_status_id.id }}
                        {% endif %}
                    </option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="form_edit_description">Zadání</label>
                <textarea class="form-control js-wysiwyg" name="description" rows="10" id="form_edit_description"
                >{{ task.Description }}</textarea>
            </div>
            <div class="form-group">
                <label for="form_edit_dead_line_date">Termín</label>
                <input value="{{ task.DeadLineDate.format("Y-m-d H:i") }}" type="datetime-local" name="dead_line_date" class="form-control" id="form_edit_dead_line_date"
                >
            </div>
            <div class="checkbox">
                <label>
                    <input {% if task.Closed %}checked{% endif %} type="checkbox" name="closed" value="1" 
                >
                    Uzavřeno
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input {% if task.Archived %}checked{% endif %} type="checkbox" name="archived" value="1" 
                >
                    Archivováno
                </label>
            </div>
            <div class="form-group">
                <label for="form_edit_priority">Priorita</label>
                <input step="1" value="{{ task.Priority }}" type="number" name="priority" class="form-control" id="form_edit_priority"
                >
            </div>
            <div class="form-group">
                <label for="form_edit_spending_time">Změřený čas</label>
                <input step="1" value="{{ task.SpendingTime }}" type="number" name="spending_time" class="form-control" id="form_edit_spending_time"
                >
            </div>
            <div class="form-group">
                <label for="form_edit_planned_date">Naplánováno na</label>
                <input value="{{ task.PlannedDate.format("Y-m-d") }}" type="date" name="planned_date" class="form-control" id="form_edit_planned_date"
                >
            </div>
            <div class="form-group">
                <label for="form_edit_planned_priority">Priorita v naplánování</label>
                <input step="1" value="{{ task.PlannedPriority }}" type="number" name="planned_priority" class="form-control" id="form_edit_planned_priority"
                >
            </div>
        <button type="submit" class="btn btn-default">Uložit</button>
    </form>

{% endblock %}