{% extends "admin/default.html.twig" %}

{% block content %}

    <h1>Koncový zákazník - úprava</h1>

    <form action="{{ _router.generateUrl("admin_endCustomer_edit", {"id":endCustomer.id}) }}" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="form_edit_name">Název</label>
                <input value="{{ endCustomer.Name }}" type="text" name="name" class="form-control" id="form_edit_name">
            </div>
            <div class="form-group">
                <label for="form_edit_web">Web</label>
                <input value="{{ endCustomer.Web }}" type="text" name="web" class="form-control" id="form_edit_web">
            </div>
            <div class="form-group">
                <label for="form_edit_client_id">Klient</label>
                <select name="client_id" class="form-control" id="form_edit_client_id">
                    <option value="0">--- Vyberte ---</option>
                    {% for client_id in client_ids %}
                        <option value="{{ client_id.id }}"
                                {% if client_id.id == endCustomer.ClientId %}
                                selected
                                {% endif %}
                        >
                        {% if client_id.title %}
                            {{ client_id.title }}
                        {% elseif client_id.name %}
                            {{ client_id.name }}
                        {% else %}
                            #{{ client_id.id }}
                        {% endif %}
                    </option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="form_new_logo">Logo</label>
                <input type="file" name="logo" class="form-control" id="form_new_logo">
                {% if endCustomer.Logo %}
                    <img style="width:auto;height:auto;max-width:200px;max-height:200px" src="upload/{{ endCustomer.Logo }}">
                    <br/><label><input type="checkbox" name="logo_delete"> Smazat</label>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="form_edit_ic">IČ</label>
                <input value="{{ endCustomer.Ic }}" type="text" name="ic" class="form-control" id="form_edit_ic">
            </div>
            <div class="form-group">
                <label for="form_edit_address">Adresa</label>
                <textarea class="form-control" name="address" rows="10" id="form_edit_address">{{ endCustomer.Address }}</textarea>
            </div>
        <button type="submit" class="btn btn-default">Uložit</button>
    </form>

{% endblock %}