{% extends "admin/default.html.twig" %}

{% block content %}

    <h1>Položka faktury - úprava</h1>

    <form action="{{ _router.generateUrl("admin_invoiceItem_edit", {"id":invoiceItem.id}) }}" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="form_edit_invoice_id">Faktura</label>
                <select name="invoice_id" class="form-control" id="form_edit_invoice_id">
                    <option value="0">--- Vyberte ---</option>
                    {% for invoice_id in invoice_ids %}
                        <option value="{{ invoice_id.id }}"
                                {% if invoice_id.id == invoiceItem.InvoiceId %}
                                selected
                                {% endif %}
                        >
                        {% if invoice_id.title %}
                            {{ invoice_id.title }}
                        {% elseif invoice_id.name %}
                            {{ invoice_id.name }}
                        {% else %}
                            #{{ invoice_id.id }}
                        {% endif %}
                    </option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="form_edit_code">Kód</label>
                <input value="{{ invoiceItem.Code }}" type="text" name="code" class="form-control" id="form_edit_code"
                >
            </div>
            <div class="form-group">
                <label for="form_edit_item">Položka</label>
                <input value="{{ invoiceItem.Item }}" type="text" name="item" class="form-control" id="form_edit_item"
                >
            </div>
            <div class="form-group">
                <label for="form_edit_vat">DPH</label>
                <input value="{{ invoiceItem.Vat }}" type="number" name="vat" class="form-control" id="form_edit_vat"
                >
            </div>
            <div class="form-group">
                <label for="form_edit_quantity">Počet</label>
                <input value="{{ invoiceItem.Quantity }}" type="number" name="quantity" class="form-control" id="form_edit_quantity"
                >
            </div>
            <div class="form-group">
                <label for="form_edit_unit">Jednotka</label>
                <input value="{{ invoiceItem.Unit }}" type="text" name="unit" class="form-control" id="form_edit_unit"
                >
            </div>
            <div class="form-group">
                <label for="form_edit_price_without_vat">Cena bez DPH</label>
                <input value="{{ invoiceItem.PriceWithoutVat }}" type="number" name="price_without_vat" class="form-control" id="form_edit_price_without_vat"
                >
            </div>
        <button type="submit" class="btn btn-default">Uložit</button>
    </form>

{% endblock %}