{% extends "admin/default.html.twig" %}

{% block content %}

    <h1>Poznámka - úprava</h1>

    <form action="{{ _router.generateUrl("admin_comment_edit", {"id":comment.id}) }}" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="form_edit_description">Poznámka</label>
                <textarea class="form-control js-wysiwyg" name="description" rows="10" id="form_edit_description"
                >{{ comment.Description }}</textarea>
            </div>
            <div class="form-group">
                <label for="form_edit_entity">Entita</label>
                <input value="{{ comment.Entity }}" type="text" name="entity" class="form-control" id="form_edit_entity"
                >
            </div>
            <div class="form-group">
                <label for="form_edit_entity_id">ID entity</label>
                <input value="{{ comment.EntityId }}" type="text" name="entity_id" class="form-control" id="form_edit_entity_id"
                >
            </div>
            <div class="form-group">
                <label for="form_edit_created">Čas vytvoření</label>
                <input value="{{ comment.Created.format("Y-m-d H:i") }}" type="datetime-local" name="created" class="form-control" id="form_edit_created"
                >
            </div>
        <button type="submit" class="btn btn-default">Uložit</button>
    </form>

{% endblock %}