{% extends "admin/default.html.twig" %}

{% block content %}

    <h1>Klient</h1>

    <p>
        <button class="btn btn-success" onclick="document.getElementById('form-add').style.display='block';this.style.display='none'">Přidat</button>
    </p>

    <div id="form-add" style="display: none">
        <form action="{{ _router.generateUrl("admin_client") }}" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="form_edit_name">Název</label>
                <input value="{{ client.Name }}" type="text" name="name" class="form-control" id="form_edit_name">
            </div>
            <div class="form-group">
                <label for="form_edit_address">Adresa</label>
                <textarea class="form-control" name="address" rows="10" id="form_edit_address">{{ client.Address }}</textarea>
            </div>
            <div class="form-group">
                <label for="form_edit_ic">IČ</label>
                <input value="{{ client.Ic }}" type="text" name="ic" class="form-control" id="form_edit_ic">
            </div>
            <div class="form-group">
                <label for="form_edit_dic">DIČ</label>
                <input value="{{ client.Dic }}" type="text" name="dic" class="form-control" id="form_edit_dic">
            </div>
            <div class="form-group">
                <label for="form_edit_hour_rate">Hodinová sazba</label>
                <input value="{{ client.HourRate }}" type="number" name="hour_rate" class="form-control" id="form_edit_hour_rate">
            </div>
            <div class="form-group">
                <label for="form_edit_email">Email</label>
                <input value="{{ client.Email }}" type="text" name="email" class="form-control" id="form_edit_email">
            </div>
            <div class="form-group">
                <label for="form_edit_phone">Telefon</label>
                <input value="{{ client.Phone }}" type="text" name="phone" class="form-control" id="form_edit_phone">
            </div>
            <div class="form-group">
                <label for="form_edit_web">Web</label>
                <input value="{{ client.Web }}" type="text" name="web" class="form-control" id="form_edit_web">
            </div>
            <div class="form-group">
                <label for="form_new_logo">Logo</label>
                <input type="file" name="logo" class="form-control" id="form_new_logo">
                {% if client.Logo %}
                    <img style="width:auto;height:auto;max-width:200px;max-height:200px" src="upload/{{ client.Logo }}">
                    <br/><label><input type="checkbox" name="logo_delete"> Smazat</label>
                {% endif %}
            </div>
            <button type="submit" class="btn btn-default">Přidat</button>
        </form>
        <br/>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            {% for client in clients %}
                <tr>
                    <td>
                        <a href="{{ _router.generateUrl("admin_client_edit", {"id":client.id}) }}">{{ client.Name }}</a>
                    </td>
                    <td width="130">
                        <a class="btn btn-xs btn-success" href="{{ _router.generateUrl("admin_client_edit", {"id":client.id}) }}">upravit</a>
                        <a class="btn btn-xs btn-danger" href="{{ _router.generateUrl("admin_client_delete", {"id":client.id}) }}"
                           onclick="return confirm('Opravdu?')">smazat</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}